
* {

    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}



#container 
    {
        background: white;
        width: 90%;
        max-width: 600px;
        margin: 100px auto 0;
        border-radius: 10px;
        padding: 30px;
     
        }
        

.calculator {
display: flex;
flex-direction: column;
background: rgb(113, 168, 234);
padding: 15px;
border-radius: 10px;
box-shadow: 10px 10px 5px 5px rgb(0, 0, 0);

}

#top {
border-bottom: 2px black dotted;
padding: 10px;
}

 #naslov{
text-align: center;
font-size: 50px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
 #input {
font-size: 55px;
height: 100px;
color: white;
text-align: end;
}







 
 button {
color: white;
font-size: 60px;
padding: 30px;
margin: 10px;
width: 100px;
border: 0;
outline: 0;
cursor: pointer;
box-shadow:5px 5px 10px #fffdfd;


}

#numbers {

background: rgb(174, 174, 174);


}

#operator {

    background: rgb(0, 0, 0);



}
.nul {
width: 360px;

background: rgb(75, 62, 255);
}

#clear {
background: rgb(200, 200, 200);
width: 360px;

}
#equal {

    background: rgb(24, 23, 21);



}



.rowsNum {

display: flex;
flex-direction: column;


}

#Row {

display: flex;
justify-content: space-between;

}

#second {

color: rgb(79, 79, 79);
font-size: 22px;

}

button:hover {

    transform: scale(1.1)

}

